:root {
  --dark-gray-500: hsl(0, 0%, 52%);
  --dark-blue-100: hsl(209, 23%, 22%);
  --dark-blue-400: hsl(207, 26%, 17%);
  --dark-blue-800: hsl(200, 15%, 8%);
  --dark-gray-100: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 13%);
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.header {
  background-color: var(--dark-blue-100);
  color: inherit;
  padding: 1.5em 0;
}
.header__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__button {
  background: none;
  color: inherit;
  border: none;
  font-family: inherit;
  letter-spacing: inherit;
  font-size: inherit;
}

.mode-button span {
  margin-right: 0.5em;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 0;
}

.search form {
  margin-bottom: 2em;
  width: 100%;
}

.search__cont {
  /* width: 400px; */
  background-color: var(--dark-blue-100);
  border-radius: 5px;
}

.search__input {
  padding: 1em 0.5em;
  background-color: transparent;
  width: calc(100% - 4em);
  border: none;
  margin-left: 1em;
  color: inherit;
  font-family: inherit;
}

.search__button {
  margin-left: 1em;
}

.search__input::placeholder {
  color: var(--white);
}

.search__filter {
  padding: 1em 3em 1em 1em;
  background-color: var(--dark-blue-100);
  color: inherit;
  border: none;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
}

.custom-select {
  position: relative;
}

.custom-select .custom-select__icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
  border-radius: 0 5px 5px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue-100);
  pointer-events: none;
}

.flags {
  margin-bottom: 4em;
}

.flags-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: space-evenly;
  grid-gap: 4rem 2rem;
  padding: 0;
}

.flag {
  background-color: var(--dark-blue-100);
  color: var(--white);
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  height: 400px;
}

.flag > a {
  display: block;
  height: 50%;
}

.flag__image {
  height: 100%;
}

.flag__image > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.flag__name {
  margin-bottom: 0.875em;
}

.flag__info {
  margin: 1.5em 1.8em 2.5em 1.8em;
}

.flag__subtext {
  font-weight: 600;
  margin: 0.5em 0;
}

.flag__subtext-info {
  font-weight: 300;
}

.details {
  min-height: 100vh;
  margin-bottom: 4rem;
  font-size: 1rem;
  color: var(--white);
}

.details h1 {
  font-size: 1.75em;
  margin-bottom: 1rem;
}

.back-route {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  background-color: var(--dark-blue-100);
  padding: 1em 2.5em;
  margin: 4em 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.back-route:hover,
.back-route:focus {
  transform: scale(1.05);
}

.back-route svg {
  margin-right: 1.5em;
}

.country-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.country-info {
  columns: 1;
}

.country-cont {
  align-self: center;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 50px;
  height: 50px;
  /* display: inline-block; */
  /* background-color: transparent; */
  margin: 100px auto;
  border: 5px solid var(--dark-blue-100);
  border-top-color: var(--white);
  border-radius: 100%;
  /* background-color: var(--white); */
  transition: all 0.2s;
  animation: rotate 1s linear 0s infinite;
}
